{% extends 'base.html' %}

{% block title %} Homepage for Pets {% endblock %}

{% block content %}
    <h1>Pets</h1>
    <ul>
        {% for pet in pets %}
            <li>
                <div>
                    <a href="/pet/{{pet.id}}">{{pet.name}}</a> 
                    {{'is available' if pet.available else 'is not available'}}
            
            {%if pet.photo_url %}   
                <img class="pet_image" src="{{pet.photo_url}}">
            {%endif%}
            
                </div>
            </li>
        {% endfor %}
    </ul>
    <a href="/add"><button>Add a Pet</button></a>

{% endblock %}